/* fonts
   ----- */
/* sans-serif */

@font-face { font-family: 'Cat-Light'; src: url('fonts/catamaran_sans_serif/Catamaran-Light.woff') format('woff'), url('fonts/catamaran_sans_serif/Catamaran-Light.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cat-Regular'; src: url('fonts/catamaran_sans_serif/Catamaran-Regular.woff') format('woff'), url('fonts/catamaran_sans_serif/Catamaran-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cat-SemiBold'; src: url('fonts/catamaran_sans_serif/Catamaran-SemiBold.woff') format('woff'), url('fonts/catamaran_sans_serif/Catamaran-SemiBold.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cat-Bold'; src: url('fonts/catamaran_sans_serif/Catamaran-Bold.woff') format('woff'), url('fonts/catamaran_sans_serif/Catamaran-Bold.ttf') format('truetype'); font-weight: normal; font-style: normal; }

/* serif font */
@font-face { font-family: 'Droid-Regular'; src: url('fonts/droid_serif/DroidSerif-Regular.woff') format('woff'), url('fonts/droid_serif/DroidSerif-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Droid-Bold'; src: url('fonts/droid_serif/DroidSerif-Bold.woff') format('woff'), url('fonts/droid_serif/DroidSerif-Bold.ttf') format('truetype'); font-weight: normal; font-style: normal; }

/* global */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; height: 100%; }
html,
body { padding: 0; margin: 0; font-family: sans-serif; }
body { font-size: 16px; font-size: 1.6rem; }

h1,
h2, 
h3,
h4,
h5,
h6,
p { padding: 0; margin: 0 0 20px 0; font-family: 'Droid-Regular', serif; color: #181515; }
p { font-family: 'Cat-Regular', sans-serif; }

/* browsers that don't support HTML5 */
header, 
section, 
footer, 
aside, 
nav, 
main, 
article, 
figure { display: block; background: #ffffff; }

ul,
ol { margin: 0 0 20px 0; padding: 0; }
ul li { display: inline-block; list-style-type: none; }
a { display: inline-block; text-decoration: none; color: #181515; }
a:hover,
a:focus { color: #e64b4b; }

/* helper classes */
.left { float: left; }
.right { float: right; }

/* hide/show */
.hide { display: none; }
.show { display: block; }

/* grid */
.half { width: 50%; }
.quater { width: 25%; }
.one-third { width: 33.33%; }
.two-third { width: 66.66%; }
.full-width { width: 100%; display: block; }

/* horizontal-alignment */
.center { text-align: center; }

/* clear the float */
.cf:after { content: ""; clear: both; display: block; }

.mod { padding: 50px 0; }
.title { font-size: 36px; padding-bottom: 20px; }
.sub-title { font-size: 26px; padding-bottom: 20px; }
.text { font-size: 18px; }
.line-decoration { padding: 10px; border-left: 5px solid #5887FF; }

/* img class */
.icon { max-width: 50px; max-height: 50px; }
.icon svg,
.icon img { width: 100%; height: auto; } 

/* holders */
.holder-1200 { max-width: 1200px; margin: 0 auto; padding: 0 20px; }

/* button and <a> */
a.button,
button.button { position: relative; background: #080808; border: none; outline: none; border-radius: 5px; color: #ffffff; padding: 10px; text-decoration: none; cursor: pointer; }
a.button:after,
button.button:after { content: ""; position: absolute; top: 0; left: 0; width: 0; height: 100%; background: #5887FF; color: #080808; transition: width 0.3s; }
a.button:hover:after,
button.button:hover:after,
a.button:focus:after,
button.button:focus:after { width: 100%; border-radius: 5px; }
a.button.not-active:hover:after,
a.button.not-active:focus:after,
button.button.not-active:hover:after,
button.button.not-active:focus:after { width: 0; }
a.button span,
button.button span { font-family: 'Cat-SemiBold'; }
a.button:hover span,
button.button:hover span,
a.button:focus span,
button.button:focus span{ position: relative; z-index: 3; color: #080808; }

/* maps API */  
#map { display: block; min-height: 300px; position: relative; }

/* modules
   ------- */
/* footer */
.footer { background: #000000; padding: 20px 0; }
.footer .secondary-nav,
.footer .footer-desc { width: 50%; background: transparent; }

.footer .secondary-nav .nav-list { margin: 0; text-align: left; }
.footer .secondary-nav .nav-list .icon { width: 40px; }

.footer .footer-desc p { color: #ffffff; margin: 0; }


@media screen and (max-width: 768px) {
    
}