/* footer */

.footer {background-color:#080808;padding:10px 0;position:relative;}
.footer .element {display:inline-block;vertical-align:middle;}
.footer .element:last-of-type {text-align:right;width:65%;}
.footer .icon {max-width:30px;height:30px;}
.footer .inline li{padding:0 5px;}
.footer .footer-text {color:#ffffff;}
.footer .footer-text p {line-height:normal;margin:0;}

@media screen and (max-width: 768px) {
    .footer {padding:20px 0;}
	.footer .element:nth-child(n) {width:100%;text-align:center;}
}