/* portfolio modules */
.portfolio { overflow: hidden; }
.portfolio .holder .my-project-title { font-size: 22px; font-size: 2.2rem; }
.portfolio .holder .load-more { padding-top: 40px; }
.portfolio .overlay { position: fixed; top: 0; left: 0; display: none; width: 100vw; height: 100vh; background: #080808; opacity: 0.5; z-index: 1; }
.portfolio .btn-holder { text-align: left; }
.portfolio .btn-holder .cta { min-width: 80%; }
.portfolio .two-third { position: relative; }
.portfolio .two-third.left + .one-third .holder-image-text { text-align: right; padding-top: 20px; }
.portfolio .current-projects .row .funky-arrow { position: relative; z-index: 0; }
.portfolio .current-projects .row:nth-child(2n+1) .funky-arrow { -webkit-transform: rotateY(348deg) rotateX(185deg) rotateZ(-39deg) translateY(20px); transform: rotateY(348deg) rotateX(185deg) rotateZ(-39deg) translateY(20px); }
.portfolio .current-projects .row:nth-child(2n+2) .funky-arrow { -webkit-transform: rotateY(180deg) rotateX(185deg) rotateZ(-39deg) translateY(20px); transform: rotateY(180deg) rotateX(185deg) rotateZ(-39deg) translateY(20px); }

.portfolio .other-projects { display: none; }
.portfolio .other-projects .row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 50px 0 0 0; }
.portfolio .other-projects .row:first-child { padding: 0; }
.portfolio .other-projects .row ul .element { width: 33.33%; padding: 5%; text-align: center; }
.portfolio .other-projects .row ul .element span { display: block; }
.portfolio .other-projects .row .project-subtitle { font-size: 18px; font-size: 1.8rem; }
.portfolio .other-projects .row .one-third .funky-arrow { -webkit-transform: rotateY(165deg) rotateX(179deg) rotateZ(-42deg) translateY(18px); transform: rotateY(165deg) rotateX(179deg) rotateZ(-42deg) translateY(18px); position: relative; z-index: 0; }

.portfolio .current-projects .row { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 50px 0; }
.portfolio .current-projects .row:nth-child(2n + 1) { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.portfolio .current-projects .row .two-third { -ms-flex-item-align: end; align-self: flex-end; }
.portfolio .current-projects .row .two-third .content { position: absolute; top: 49px; left: 8px; width: 91%; height: calc(100% - 79px); overflow: hidden; }
.portfolio .current-projects .row .two-third .content .img-project { position: absolute; top: 0; left: 50%; width: 100%; min-width: 100%; max-width: initial; height: auto; min-height: 100%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
.portfolio .current-projects .row .two-third .show-desktop { display: block; position: relative; overflow: hidden; }
.portfolio .current-projects .row .two-third .show-desktop .img-frame { max-width: 553px; width: 100%; height: auto; position: relative; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
.portfolio .current-projects .row .two-third .show-desktop .content { top: 6%; left: 50%; width: 72%; max-width: 420px; height: 81%; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); }
.portfolio .current-projects .row .two-third .show-desktop .content .img-project { height: 100%; width: auto; }
.portfolio .current-projects .row .two-third .show-tablet { position: absolute; bottom: 0; left: 4%; display: inline-block; }
.portfolio .current-projects .row .two-third .show-tablet .content { width: 90%; height: calc(100% - 77px); }
.portfolio .current-projects .row .two-third .show-mobile { position: absolute; bottom: 20%; right: 10%; display: inline-block; } 
.portfolio .current-projects .row .two-third .show-mobile .content { width: 79%; height: calc(100% - 74px); }
.portfolio .current-projects .row .one-third .holder-image-text { padding-top: 20px; overflow: hidden; }
.portfolio .current-projects .row .one-third .holder-image-text .sub-title { position: relative; z-index: 1; } 

.portfolio .desc { position: fixed; top: 50%; left: 50%; display: none; max-width: 600px; width: 80vw; max-height: 70vh; -webkit-transform: translate3d(-50%,-50%,0); -ms-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0); z-index: 3; background: #ffffff; text-align: center; overflow-y: scroll; border-radius: 25px; }
.portfolio .desc .desc-header,
.portfolio .desc .desc-footer { position: relative; padding: 20px 0; background: #5887ff; }
.portfolio .desc .desc-footer { padding-top: 30px; }
.portfolio .desc .desc-header .close-button { position: relative; left: calc(100% - 80px); width: 40px; height: 40px; cursor: pointer; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.portfolio .desc .desc-header .close-button:hover { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.portfolio .desc .desc-header .close-button:after,
.portfolio .desc .desc-header .close-button:before { content: ""; position: absolute; left: 0; top: 50%; width: 100%; height: 3px; background: #080808; -webkit-transform: translateY(-50%) rotate(45deg); -ms-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }
.portfolio .desc .desc-header .close-button:before { -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); }
.portfolio .desc .desc-body { padding: 50px 20px; }
.portfolio .desc .desc-body .modal-title { margin: 0; padding-bottom: 20px; font-size: 28px; font-size: 2.8rem; }
.portfolio .desc .desc-body .modal-text,
.portfolio .desc .desc-body .modal-skills { margin: 0; padding: 0 0 20px; font-size: 18px; font-size: 1.8rem; }
.portfolio .desc .desc-body .cta { display: block; width: 50%; margin: 0 auto; font-size: 18px; font-size: 1.8rem; }

@media screen and (max-width: 768px) { 
    .portfolio .current-projects .row .two-third .show-tablet,
    .portfolio .current-projects .row .two-third .show-mobile { display: none; }
		
    .portfolio .other-projects .row .project-img { max-width: 100%; max-height: inherit; height: auto; }
    .portfolio .other-projects .row ul .element { display: inline-block; width: 49%; padding: 5%; float: none; vertical-align: middle; }
}

@edia screen and (max-width: 480px){ 		
	.portfolio .current-projects .row:nth-child(n) { position: relative; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
	.portfolio .current-projects .row > .row-elem { width: 100%; }
	.portfolio .current-projects .row > .row-elem:first-child { padding-bottom: 70px; }
	.portfolio .current-projects .row > .row-elem .btn-holder { position: absolute; bottom: 50px; left: 50%; width: 100%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
	.portfolio .current-projects .row > .row-elem .btn-holder .cta { width: 100%; }
	.portfolio .current-projects .row .one-third .holder-image-text { display: none; }

	.portfolio .desc .desc-header,
	.portfolio .desc .desc-footer { position: relative; background: #5887ff; padding: 10px 0; }
	.portfolio .desc .desc-footer { padding-top: 20px; }
	
	.portfolio.mod { padding: 0 0 50px; }
}