/* skills module */
.skills { position: relative; display: block; width: 100%; overflow: hidden; }
.skills .skills-bg { position: absolute; top: 0; left: 0; min-height: 100%; min-width: 100%; z-index: -1; -webkit-transform: 3d(-50%,-50%,0); -ms-transform: 3d(-50%,-50%,0); transform: 3d(-50%,-50%,0); }
.skills .title { position: relative; margin-bottom: 50px; }
.skills .particles { position: absolute; top: 0; right: 0; width: calc(100% - 100px); height: 100%; z-index: 2; }
.skills .skills-tiles { display: table; table-layout: fixed; width: 100%; background: #ffffff; padding: 50px 0; }
.skills .skills-tiles .element { display: table-cell; position: relative; width: auto; padding: 0px 40px; text-align: center; }
.skills .skills-tiles .element:after { content: ""; position: absolute; top: 0; right: 0; width: 2px; height: 100%; background: #5887ff; }
.skills .skills-tiles .element:last-of-type:after { opacity: 0;  }
.skills .skills-tiles .element .icon svg { max-width: 75px; width: 75px; max-height: 75px; height: 75px; }
.skills .skills-description { position: relative; overflow: hidden; padding: 50px 20px; z-index: 1; }
.skills .skills-description .sub-title { color: #ffffff; }
.skills .skills-description .element { position: relative; float: left; display: inline-block; border: 4px solid #ffffff; overflow: hidden; }
.skills .skills-description .element:first-child:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000000; opacity: 0.85; z-index: -1; }
.skills .skills-description .element:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000000; opacity: 0.85; z-index: -1; }
.skills .skills-description .element .bg-element { position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; z-index: -1; -webkit-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0); }
.skills .skills-description .element.active { border: 4px solid #5887ff; -webkit-transition: border 0.3s; -o-transition: border 0.3s; transition: border 0.3s}
.skills .skills-description .element.active:hover .bg-element { min-width: 200%; -webkit-transition: 20s; -o-transition: 20s; transition: 20s; }
.skills .skills-description .element .sub-title { position: relative; text-align: center; }
.skills .skills-description .element { float: left; }
.skills .skills-description .element p.hide { color:  #ffffff; text-align:  center; max-width:  600px; margin:  0 auto; padding: 20px 20px 50px; font-size: 18px; }

.skills .skills-description h3 { display: none; }
.skills .skills-description h3.sub-title { font-size: 18px; margin: 0; padding: 25px 50px; display: block; width: 100%; }
.skills .skills-description .skills-full-description { width: 85%; margin: 0 15%; padding: 10px 20px; border: none; background:  #080808; }
.skills .skills-description .skills-full-description h3.sub-title { padding: 0; }
.skills .skills-description .skills-full-description .skills-info { color: #ffffff; font-size: 18px; }
.skills .skills-description .two-third.active + .one-third .skills-full-description { outline: 4px solid #5887ff;  -webkit-transition: 0.3s;  -o-transition: 0.3s;  transition: 0.3s;  }

@media screen and (max-width:  920px) { 
	.skills .skills-description { width: 100%; padding:  50px 20px 0 20px; }
	.skills .skills-description div.element { width: 100%; }
	.skills .skills-description .skills-full-description { display: none; }
	.skills .skills-description .two-third { width: 100%; }
	.skills .skills-tiles .element { padding: 25px 0; }
    .skills .skills-tiles .element:after { content: ""; position: absolute; top: 100%; right: 0; width: 100%; height: 2px; background: #5887ff; }
    .skills .skills-tiles { display:  block; table-layout:  auto; width:  100%; padding: 0; }
	.skills .skills-tiles .element { display:  block; position:  relative; width:  100%; }
	.skills .skills-tiles .element .icon { display: inline-block; width: 100px; float: left; text-align: left; }
	.skills .skills-tiles .element .sub-title { display: inline-block; width: calc(100% - 100px); float: left; text-align: left; }
	.skills .skills-description .element .sub-title:after { content: ""; position: absolute; right: 10%; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 0; height: 0; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; border-top: 10px solid #5887ff; border-right: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid transparent; }
    .skills .skills-description .element.active .sub-title:after { -webkit-transform: translateY(calc(-50% - 10px)) rotate(180deg); -ms-transform: translateY(calc(-50% - 10px)) rotate(180deg); transform: translateY(calc(-50% - 10px)) rotate(180deg);  }
	.skills .skills-tiles .element .text { display: inline-block; width: 100%; padding-left: 100px; text-align: left; }
}

@media screen and (max-width:  768px) { 
    .skills .particles { display: none; }
}