/* contact module*/
.contact { background: rgba(88,135,255,0.8); }
.contact .contact-holder { padding-right: 40px; }
.contact .contact-holder .form-section { background: transparent; }
.contact .contact-holder .form-section .form-field { padding-bottom: 20px; }
.contact .contact-holder .form-section .form-field .sub-title { color: #000000; }
.contact .contact-holder .form-section .form-field > .stylish-text,
.contact .contact-holder .form-section .form-field > .stylish-textarea { background: #ffffff; border-radius: 5px; }
.contact .contact-holder .form-section .form-field > div > span { border: none; }
.contact .contact-holder .mod-form .cta { margin-left: 20px; }

.contact .address-holder { display: inline-block; }
.contact .address-holder .address-elem { padding: 20px 0 10px; }
.contact .address-holder .address-elem:first-child { padding-top: 0; }
.contact .address-holder .address-desc { padding: 0 0 20px 20px; margin: 0; border-bottom: 1px solid #ffffff; }
.contact .address-holder .address-desc:last-of-type { border-bottom: 0; }
.contact .address-holder .address-desc p { font-family: "Cat-SemiBold", sans-serif; }

.contact.mod { padding-top: 50px; }

@media screen and (max-width: 768px) { 
   .contact .two-third,
   .contact .one-third,
   .contact .contact-holder .holder-button { width: 100%; }
}