/* fonts */
/* sans-serif */
@font-face { 
	font-family: "hipster-regular"; src: url("fonts/hipster/hipsterScriptPro.woff") format("woff"); 	
}

 /* serif */
@font-face { 
	font-family: "avenir-regular"; src: url("fonts/avenir/avenirNextProRegular.woff") format("woff");  	
}

/* global */
html { font-size: 62.5%; }
html,
body { padding: 0; margin: 0; height: 100%; background-color: #cccc33; position: relative; overflow-x: hidden; }
body { font-size: 14px; font-size: 1.4rem; letter-spacing: 1px; letter-spacing: 0.1rem; font-family: "avenir-regular",serif; }
body p { margin: 0; padding: 0; }

.hidden-acc { display: none; }

/* header mod */
#header { width: 100%; text-align: center; }
#header .logo-image { max-width: 100px; height: auto; }

/* fqg mod */
.fqg { position: relative; min-height: calc(100% - 179px); text-align: center; color: #46463C; }
.fqg .quote { position: absolute; top: calc(50% - 80px); left: 0; width: 100%; height: calc(100% - 157px); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.fqg .quote .generated { position: relative; top: 50%; max-width: 800px; margin: 0 auto; padding: 0 40px; opacity: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.fqg .quote .generated .sub-title { font-family: "hipster-regular", sans-serif; font-size: 54px; font-size: 5.4rem; line-height: 76px; line-height: 7.6rem; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; font-weight: bold; }
.fqg .quote .generated .sub-title .border-bottom-line {  position: relative; overflow: hidden; z-index: 2 }
.fqg .quote .generated .sub-title .border-bottom-line img { position: absolute; width: 100%; height: auto; bottom: 20%; left: 0; }
.fqg .quote .generated.re-align .sub-title:first-child { margin-top: 20px; text-align: left; }
.fqg .quote .generated.re-align .sub-title:last-child { text-align: right; }
.fqg .quote .generated.slide-up-show { -webkit-animation: snkn-global-desktop-slide-up-show 0.3s linear; animation: snkn-global-desktop-slide-up-show 0.3s linear; opacity: 1; }
.fqg .quote .generated.slide-up-show.slide-up-hide { -webkit-animation: snkn-global-desktop-slide-up-hide 0.3s linear; animation: snkn-global-desktop-slide-up-hide 0.3s linear; opacity: 0; }
.fqg .quote .line-holder { position: absolute; top: 50%; width: 100%; }
.fqg .quote .line-holder .message-line {  position: absolute;  top: 25%; left: -100%; width: calc(100% + 50px); height: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: 1s; -o-transition: 1s; transition: 1s; }
.fqg .quote .line-holder .message-line.two { -webkit-transform: rotate(-2deg); -ms-transform: rotate(-2deg); transform: rotate(-2deg); }
.fqg .quote .line-holder .message-line.three { left: 100%; -webkit-transform: rotate(5deg); -ms-transform: rotate(5deg); transform: rotate(5deg); }
.fqg .quote .line-holder .message-line.four { left: 100%; -webkit-transform: rotate(8deg); -ms-transform: rotate(8deg); transform: rotate(8deg); }
.fqg .quote .line-holder .message-line.animate { left: -20px; }
.fqg .cta-quote { position: absolute; bottom: 0; left: 0; width: 100%; }
.fqg .cta-quote .text { padding-bottom: 10px; }
.fqg .cta-quote .text span { font-family: "avenir-bold", serif; }
.fqg .cta-quote .cta-holder { position: relative; display: inline-block; margin-bottom: 20px; }
.fqg .cta-quote .cta-holder .cta { border: none; outline: none; background: transparent; }
.fqg .cta-quote .cta-holder .cta .image-button { border-radius: 50%; max-width: 100px; height: auto; -webkit-transition: 0s; -o-transition: 0s; transition: 0s; }
.fqg .cta-quote .cta-holder .cta .image-button.rotate-180 { -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
.fqg .cta-quote .cta-holder .cta .image-button:hover,
.fqg .cta-quote .cta-holder .cta .image-button:focus { -webkit-box-shadow: 3px 4px 61px -6px rgba(0,0,0,0.75); box-shadow: 3px 4px 61px -6px rgba(0,0,0,0.75); -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
.fqg .cta-quote .cta-holder .cta .text-fqg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; margin: 0; padding: 0; text-transform: uppercase; font-size: 25px; font-size: 2.5rem; color: #cccc33; }
.fqg .cta-quote .cta-holder .cta .text-fqg span { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

/* hint mod */
.hint { position: relative; background: #697128; text-align: center; border-bottom: 1px solid #cccc33; }
.hint p { position: relative; padding: 10px 0; color: #cccc33; z-index: 3; }
.hint:after { content: ""; position: absolute; top: 100%; left: 50%; margin-top: 13px; -webkit-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0); background: transparent; width: 0; height: 0; border-bottom: 20px solid transparent; border-right: 30px solid transparent; border-left: 30px solid transparent; border-top: 30px solid #697128; z-index: 2; }
.hint:before{ content: ""; position: absolute; top: 100%; left: 50%; width: 25px; height: 25px; margin-top: 13px; -webkit-transform: translate3d(-50%,-97%,0) rotate(135deg); transform: translate3d(-50%,-97%,0) rotate(135deg); background: transparent; z-index: 1; border-top: 1px solid #cccc33; border-right: 1px solid #cccc33; }

/* footer mod */
#footer { background: #46463C; text-align: center; }
#footer .logo { display: block; text-align: center; padding: 20px 0; }
#footer .logo .copy { vertical-align: baseline; margin: 0 2px; }
#footer .logo .borde-right { border-right: 1px solid #cccc33; padding-right: 8px; }
#footer .logo .engineered { padding-left: 8px }
#footer .logo p { color: #cccc33; display: inline-block; vertical-align: top; }
#footer .logo img { max-width: 50px; height: auto; }
#footer .address { display: inline-block; padding: 9px 0 19px; border-bottom: 1px solid #cccc33; width: 80%; }
#footer .address .address-element { display: inline-block; width: 49%; vertical-align: top; text-align: left; }
#footer .address .address-element:first-child address { padding-right: 27.5px; }
#footer .address .address-element:last-child address { padding-left: 27.5px; }
#footer .address .address-element:first-child,
#footer .address .address-element:first-child  span { text-align: right; }
#footer .address .address-element address { display: inline-block; }
#footer .address .address-element span { display: block; text-align: left }
#footer .address .address-element span a { color: #cccc33; }
#footer .address .address-element span.display-inline { display: inline-block; padding-right: 20px; }
#footer .address .address-element span:first-of-type { font-family: "hipster-regular"; font-size: 40px; }
#footer .address address { color: #cccc33; }

@media screen and (max-width: 768px), (max-height: 800px) {  
	html,
	body { height: auto; }
	
	.fqg { position: relative; min-height: calc(100vh - 538px); }
	.fqg .quote { position: static; width: 100%; height: auto; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }	
	.fqg .cta-quote { position: static; width: 100%; }	
	.fqg .quote .generated { position: static; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 450px; max-width: 800px; margin: 0 auto; padding: 0; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
	.fqg .quote .generated .sub-title { font-size: 35px; font-size: 3.5rem; line-height: 50px; line-height: 5rem; }
	.fqg .quote .generated.slide-up-show { -webkit-animation: snkn-global-mobile-slide-up-show 0.3s linear; animation: snkn-global-mobile-slide-up-show 0.3s linear; opacity: 1; }
	.fqg .quote .generated.slide-up-show.slide-up-hide { -webkit-animation: snkn-global-mobile-slide-up-hide 0.3s linear; animation: snkn-global-mobile-slide-up-hide 0.3s linear; opacity: 0; }	
	
	.hint { position: relative; display: block; }
	.hint p { margin: 0; padding: 18px; }
} 

@media screen and (max-width: 768px) {
	.holder { padding: 0 20px; }

	#header .logo-image { max-width: 85px; }

	.fqg .quote .generated { min-height: 333px; }
	.fqg .cta-quote .cta-holder .cta .image-button { max-width: 70px; }
	.fqg .cta-quote .cta-holder .cta .text-fqg { font-size: 14px; font-size: 1.4rem; }
	
	#footer { position: relative; display: block; } 
	#footer .address { display: block; width: auto; padding-top: 24px; }
	#footer .address .address-element { display: block; vertical-align: middle; width: 100%; } 
	#footer .address .address-element address:nth-child(n) { display: block; padding: 0; text-align: center; } 
	#footer .address .address-element:nth-child(n) address span { text-align: center; } 
}

@-webkit-keyframes snkn-global-desktop-slide-up-show {
    0% { opacity: 0; -webkit-transform: translate(0, calc(-50% + 50px)); transform: translate(0, calc(-50% + 50px)); }
    100% { opacity: 1; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
}

@keyframes snkn-global-desktop-slide-up-show {
    0% { opacity: 0; -webkit-transform: translate(0, calc(-50% + 50px)); transform: translate(0, calc(-50% + 50px)); }
    100% { opacity: 1; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
}

@-webkit-keyframes snkn-global-desktop-slide-up-hide {
    0% { opacity: 1; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
    100% { opacity: 0; -webkit-transform: translate(0, calc(-50% - 50px)); transform: translate(0, calc(-50% - 50px)); }
}

@keyframes snkn-global-desktop-slide-up-hide {
    0% { opacity: 1; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
    100% { opacity: 0; -webkit-transform: translate(0, calc(-50% - 50px)); transform: translate(0, calc(-50% - 50px)); }
}

@-webkit-keyframes snkn-global-mobile-slide-up-show {
    0% { opacity: 0; -webkit-transform: translate(0, 25px); transform: translate(0, 25px); }
    100% { opacity: 1; -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

@keyframes snkn-global-mobile-slide-up-show {
    0% { opacity: 0; -webkit-transform: translate(0, 25px); transform: translate(0, 25px); }
    100% { opacity: 1; -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

@-webkit-keyframes snkn-global-mobile-slide-up-hide {
    0% { opacity: 1; -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    100% { opacity: 0; -webkit-transform: translate(0, -25px); transform: translate(0, -25px); }
}

@keyframes snkn-global-mobile-slide-up-hide {
    0% { opacity: 1; -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    100% { opacity: 0; -webkit-transform: translate(0, -25px); transform: translate(0, -25px); }
}